.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

.back-link {
  margin-bottom: 1rem;
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.back-link:hover {
  text-decoration: underline;
}
