.product-list-container {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-message {
  text-align: center;
}

.user-message.dark-mode {
  color: #fff;
}
