.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

.product-details {
  text-decoration: none;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  max-width: 100%;
  border-radius: 5px;
}

.product-card h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-card p {
  margin: 5px 0;
}

.product-card-buttons {
  margin-top: auto;
}

.btn-details,
.btn-add-to-cart {
  padding: 10px 15px;
  background-color: #61dafb;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 10px;
}

.btn-details:hover,
.btn-add-to-cart:hover {
  background-color: #21a1f1;
}
