.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  padding: 20px;
  box-shadow: 0 4px 2px -2px gray;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

body.dark-mode .header {
  background-color: #222;
  color: #fff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-title {
  margin: 0;
  font-size: 1.5em;
  color: #000;
  margin-right: 5vw;
}

body.dark-mode .header-title {
  color: #fff;
}

.search-input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: solid 1px #222;
  font-size: 16px;
}

body.dark-mode .search-input {
  background-color: #444;
  color: #fff;
}

.nav-links {
  display: flex;
  gap: 15px;
  margin-top: 2px;
}

.nav-link {
  display: flex;
  align-items: flex-start;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

body.dark-mode .nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #ccc;
}

.cart-link {
  position: relative;
}

.cart-quantity {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 50%;
}

.nav-button {
  background-color: transparent;
  color: #000;
  border: none;
  cursor: pointer;
  padding: 0;
}

body.dark-mode .nav-button {
  color: #fff;
}

.nav-button:hover {
  color: #ccc;
  background-color: transparent;
}
