header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 20px;
  box-shadow: 0 4px 2px -2px gray;
}

header h1 {
  margin: 0;
  font-size: 2em;
  color: white;
}

header input {
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  border: none;
}
