.home {
  padding: 5rem;
  z-index: 0;
}

.user-message {
  text-align: center;
  color: inherit;
}

body.dark-mode .home .user-message {
  color: #fff;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
