body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

h1,
h2,
p {
  color: black;
  font-size: 2em;
  margin: 20px 0;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

.navbar {
  background-color: #fff;
  color: #000;
}

body.dark-mode .navbar {
  background-color: #222;
  color: #fff;
}
